*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding-left: 240px;
    background-image: url('../Img/ImagemIlustrativa2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}

#btm{
    display: none;
}
/* -------------- Navegação -------------- */

.nav{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    align-items: center;
    overflow: visible;
    background: linear-gradient(#020020, #000930, #000f53); 
    z-index: 10000000;
    transition: 0.5s;
}
.nav::-webkit-scrollbar{
    display: none;
}
.off{
    transform: translateX(-0%);    
    transition: 0.5s;
}
.offbg{
    padding-left: 240px;
    transition: 0.5s;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 0;
}
.menu button{
    width: 100%;
    height: 55px;
    text-align: start;
    text-indent: 40px;
    border: none;
    color: rgb(218, 218, 218);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}
.menu button:hover,
.btclick{
    background: linear-gradient(90deg, #000f3f, #001572, #001da1);
}

/*  -------------- HOME --------------  */
.welcome{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    transform: translateX(-150vw);
    transition: 0.9s;
    z-index: 100;
}

.ct{
    background: linear-gradient(90deg, black, rgb(0, 0, 0), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0));
    height: 100vh;
    width: 580px;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-left: 40px;
    flex-direction: column;    
}
.ct h1{
    font-size: 70px;
    font-family: sans-serif;
    color: #f5f5f5;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}
.ct h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #f3f3f3;
    text-shadow: 1px 1px 2px black;
}
.ct p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: #f3f3f3;    
    text-shadow: 1px 1px 2px black;
}

/* -------------- Olimpíadas -------------- */

.tela{
    background: linear-gradient(rgb(0,0,0,0) ,#00070fa9 , #00070ff5, #00070f 65%);
    position: absolute; 
    top: 0;
    
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateY(150vh);
    height: 100vh;
    width: calc(100% - 240px);
    z-index: 100;
    align-items: center;
    transition: 1s;
}

.aparecer_db{
    transform: translateY(0vh);
    transition: 0.9s;    
}
.aparecer_dr{
    transform: translateX(0vw);
    transition: 0.9s;
}

.tela::-webkit-scrollbar{
    width: 10px;
    z-index: 100;
}
.tela::-webkit-scrollbar-button{
    display: none;
}
.tela::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
    z-index: 100;
}
.tela::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.6);
    z-index: 100;
}


.olimps{
    display: grid;
    grid-template-columns: 440px 440px;
    grid-template-rows: 400px;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

}
.card_Olimp{
    width: 380px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid rgb(55, 55, 55);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}
.card_Olimp:hover{
    transform: scale(1.1) translateY(-5px);
    transition: 0.5s;
}
.texto_olimp{
    width: 880px;
    height: 200px;
    align-items: start;
    justify-content: center;
    margin-left: 130px;
    
}
.texto_olimp h1{
    color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.texto_olimp p{
    color: #f3f3f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

/* -------------- Capas Olimpíadas -------------- */
.olimpiada-capas > div {
    background: linear-gradient(90deg, black, rgb(0, 0, 0), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0));
    top: 0;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: calc(100vw - 240px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transition: 1s;
    transform: translateX(-150vw);
    text-align: center;
}
.capa-obr::-webkit-scrollbar, .capa-obi::-webkit-scrollbar{
    width: 10px;
    z-index: 100;
}
.capa-obr::-webkit-scrollbar-button, .capa-obi::-webkit-scrollbar-button{
    display: none;
}
.capa-obr::-webkit-scrollbar-track, .capa-obi::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
    z-index: 100;
}
.capa-obr::-webkit-scrollbar-thumb, .capa-obi::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.9);
    z-index: 100;
}

.olimpiada-capas .capa-voltar {
    text-align: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}
.capa-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capa-header h1 {
    font-size: 40px;
}
.capa-header img {
    height: 300px;
    padding: 8px;
}
.capa-conteudo {
    padding: 0 120px;
    font-size: 20px;
}
.capa-botao button {
    font-weight: bold;
    padding: 8px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.4s;
}
.capa-botao button:hover{
    background-color: #f3f3f3;
    color: #000f53;
    transition: 0.4s;
}

/* -------------- Vídeos -------------- */
.voltar{
    color: rgb(230, 230, 230);
    font-family: arial;
    font-size: 18px;
    font-weight: 700;
    
    cursor: pointer;
    transition: 0.9s;
}
.voltar:hover{
    letter-spacing: 1.5px;
    font-size: 19px;
    transition: 0.9s;
}

.videotela{
    position: absolute;
    top: 0;
    padding-left: 80px;
    padding-top: 100px;
    height: 100vh;
    width: calc(100vw - 240px);
    overflow-y: scroll;
    background: linear-gradient(rgb(0,0,0,0),#00070fa9, #00070ff5, #00070f, #00070f, #00070f, #00070f);
    transform: translateY(150vh);

    transition: 1s;
}
.videotela::-webkit-scrollbar{
    width: 10px;
}
.videotela::-webkit-scrollbar-button{
    display: none;
}
.videotela::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
}
.videotela::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.6);
}

.aparecer_db2{
    transform: translateY(0);
    transition: 1s;
}

.videos{
    display: flex;
    width: 97%;
    height: fit-content;
    justify-content: space-between;    
}
.video_play{
    width: fit-content;
    justify-content: center;
    align-items: end;
    
}
.video_play iframe{
    border-radius: 10px;
    background-color: black;
}

.listvideo{
    width: 300px;
    height: 370px;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sumir{
    display: none;
}

.listvideo::-webkit-scrollbar-button{
    display: none;
}
.listvideo::-webkit-scrollbar{
    width: 8px;
}
.listvideo::-webkit-scrollbar-thumb{
    background-color: rgb(175, 175, 175, 0.6);
    border-radius: 50px;
}

.vid{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.4s;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(94, 94, 94);
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.05);
}
.vid:hover{
    transform: scale(1);
    background-color: #000c3fbb;
    transition: 0.4s;
}


.vid img{
    width: 60px;
    height: 60px;
}
.vid section{
    justify-content: center;
    align-items: start;
}
.vid section h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: rgb(230, 230, 230);
}
.vid section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #7eb3d6;
}
.vid section p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(185, 185, 185);
    font-size: 14px;
}

/* Quiz */
.esq{
    display: none;
}

.ConteinerQuiz{
    position: fixed;
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -100000000000;
    opacity: 0;
    transition: 1s;
}
.quiz{
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 27, 32); 
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    gap: 100px;
    overflow: hidden;
    padding: 30px;
    transform: scale(0);
    transition: 1s;
}

.iniciarConteiner,
.initC{
    z-index: 1000000000000000000;
    opacity: 1.5;
}
.initQuiz,
.Apaqui{
    transform: scale(1);
    transition: 1s;
}

#Resultado{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Resultado h1{
    font-size: 60px;
    color: #f0f0f0;
    font-weight: bolder;
}
#Resultado h2{
    font-size: 28px;
    font-weight: lighter;
    color: #f3f3f3;
}
#Resultado p{
    font-size: 16px;
    color: #e0e0e0;
}


.questao{
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
}
.Enunciado{
    
    width: 55%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.Enunciado p{
    color: rgb(170, 170, 170);
    
    font-size: 18px;
}
.questao img{
    width: calc(45%);
    border-radius: 8px;
}
.Alternativas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
    
}
.Alternativas button,
.correta{
    width: calc(100% - 20px);
    background-color: rgba(33, 35, 36, 0.85);
    padding: 10px;
    color: rgb(185, 185, 185);
    font-family: monospace;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 0.7);
    cursor: pointer;
    
}
.Alternativas button:hover{
    background-color: rgb(20, 20, 20);
    transform: scale(1.02);
    transition: 0.4s;
}
.Alternativas button:active{
    background-color:#004b91;
}

/*  Desccriçao das aulas  */
.interation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}

.video_play form input{
    width: 500px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    border-radius: 50px;
}
.botoesD,
#sc{
    border: none;
    text-align: left;
    background-color: transparent;
    font-size: 17px;
    color: #bdbdbd;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(29, 29, 29);
    width: 400px;
    border-radius: 5px;
    text-indent: 10px;
    padding: 8px 10px;
    text-decoration: none;    
}
#sc{
    border: none;
    background-color: transparent;
    font-size: 30px;

}
.botoesD,
.botoesDQ{
    width: fit-content;
    padding: 8px 10px;
    text-indent: 0;
    background-color: #f3f3f3;
    color: #0053a1;
    transition: 0.8s;
}
.botoesDQ{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}
.S{
    display: none;
}

.Bt2{
    background-color: #0053a1;
    border: none;
    color: #f3f3f3;
    width: fit-content;
    padding: 8px 10px;
    border: none;
    font-size: 17px;
    font-family: monospace;
    
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
}
.Bt2:hover{
    letter-spacing: 1.2px;
    background-color: #004586;
    transition: 0.4s;
}

.botoesD:hover{    
    filter: drop-shadow(8px 8px rgb(80, 80, 80));
    transition: 0.8s;
}
.like_deslike{
    border-radius: 70%;
    background-color: white; 
    float: right;
    width: 34px;
    height: 34px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.9s;
}
.like_deslike:hover{
    transform: scale(1.3);
    transition: 0.9s;
}


.description{
    width: 97%;
    height: fit-content;

    
}
.description h1{
    color:rgb(230, 230, 230);
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.description p{
    color: rgb(223, 223, 223);
    font-family: sans-serif;
    font-size: 19px;
    text-align: justify;
    width: 95%;
}
.description h2{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(209, 209, 209);
}

/* -------------- Chat -------------- */

.telachat{
    background: linear-gradient(90deg, black, rgb(0, 0, 0, 0.85), rgba(0, 0, 0, 0.729), rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0) 45%);
    position: absolute; 
    top: 0;
    height: 100vh;
    width: calc(100vw - 240px);
    padding-left: 50px;
    padding-top: 50px;
    overflow-y: scroll;
    transform: translateX(-150vw);
    transition: 1s;
    gap: 20px;
}
.telachat::-webkit-scrollbar{
    width: 10px;
}
.telachat::-webkit-scrollbar-button{
    display: none;
}
.telachat::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
}
.telachat::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.7);
}


div.apdr{
    transform: translateX(0);
    transition: 1.2s;
}

/* -------------- Exposição -------------- */

.telaexpo{
    position: absolute;
    top: 0;
    background: linear-gradient(rgb(0,0,0,0),#00070fa9, #00070ff5, #00070f 65%);
    width: calc(100vw - 240px);
    height: 100vh;
    overflow-y: scroll;
    padding: 40px;
    
    gap: 50px;

    transform: translateY(150vh);
    transition: 1s;
}
.telaexpo::-webkit-scrollbar{
    width: 10px;
}
.telaexpo::-webkit-scrollbar-button{
    display: none;
}
.telaexpo::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
}
.telaexpo::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.6);
}
.trabalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(55, 55, 55);
    border-radius: 10px;
    margin-left: 10px;
    width: calc(100%-10px);
    padding: 40px;
}

.telaexpo header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-flow: row wrap;
    
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    gap: 40px;
}
.aprdb{
    transform: translateY(0vh);
    transition: 1s;
}
.imagem{
    width: 35%;
    height: 450px;
    
}
.imagem img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.8s;
}
.imagem img:hover{
    filter: drop-shadow(11px 11px rgb(200, 200, 200));
    transform: scale(1.02);
    transition: 0.8s;
}
.sobre{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: fit-content;
}
.sobre h1{
    color: #f3f3f3;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    
}
.sobre h2{
    color: #e1e1e1;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sobre p, 
.TextoMaisSobre p{
    color: #c5c5c5;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align: justify;
}

.MaisSobre{
    Width: 100%;
    height: 0px;
    
    flex-direction: column;
    align-items: start;
    
    transform: scaleY(0);
    opacity: 0;
    transition: 0.8s;
    
}
.MaisSobre section{
    Width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.TextoMaisSobre{
    flex: 65%;
    text-align: left;
}

.TextoMaisSobre h1{
    color: #e1e1e1;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ImagemMaisSobre{
    flex: 30%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
.ImagemMaisSobre img{
    width: 100%;
    border-radius: 10px;
}

.mostrar{
    height: fit-content;
    opacity: 1.5;
    transform: scaleY(1);
    transition: 1.5s;
}




/* Simulados */
#prim{
    visibility: hidden;
}

.ConteinerSimulados{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    background: linear-gradient(rgb(0,0,0,0),#00070fa9, #00070ff5, #00070f 65%);
    width: calc(100vw - 240px);
    height: 100vh;
    overflow-y: scroll;

    transform: translateY(150vh);
    
    transition: 1s;
}
.IntoSimul{
    transform: translateY(0);
    transition: 1s;
}
.resolver{
    transform: translateY(0);
}

.ConteinerSimulados::-webkit-scrollbar{
    width: 10px;
}
.ConteinerSimulados::-webkit-scrollbar-button{
    display: none;
}
.ConteinerSimulados::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0);
}
.ConteinerSimulados::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(175, 175, 175, 0.6);
}
#TitSimul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #e1e1e1;
    margin-top: 40px;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 0;
    
}
.Simulados{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    
    
    height: fit-content;
    position: relative;
    overflow: hidden;
    padding: 40px;
    width: 90%;
    gap: 0;
}
.Simulado,
.sl2{
    width: 35%;
    flex-shrink: 0;
    background-color: rgb(22, 27, 32);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    transition: 0.8s;
}
.Mostrado,
.visto{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 8px black);
    transition: 0.8s;
}
.Simulado h1,
.sl2 h1{
    font-size: 30px;
    color: #f0f0f0;
}
.Simulado img,
.sl2 img{
    width: 80%;
    margin-left: 15px;
    align-self: center;
}
.Simulado h2,
.sl2 h2{
    font-size: 20px;
    color: #f0f0f0;
}
.Simulado p,
.sl2 p{
    font-size: 16px;
    color: #e1e1e1;
}

.controls,
.ct2{
    content: "";
    
}
.esquerda,
.direita{
    height: 85%;
    
    font-size: 50px;
    width: 70px;
    color: white;
    cursor: pointer;
    border: none;
    
    background: linear-gradient(to left, rgb(0,0,0,0) 0%, black 200%);
    opacity: 0.5;
    transition: all 0.5s;

    z-index: 1000;
}
.esquerda:hover,
.direita:hover{
    opacity: 1.5;
    transition: 0.5s;
}

.esquerda{
    margin-right: -50px;
}
.direita{
    background: linear-gradient(to right, rgb(0,0,0,0) 0%, black 200%);
    margin-left: -50px;
}