@media screen and (max-width: 950px){
    body{
        padding-left: 0;
        background-position: center;
    }
    .off{
        transform: translateX(-100%);
    }
    .offbg{
        padding-left: 0;
    }
    .nav{
        position: fixed;
    }

    #btm{
        display: flex;
    }

    .welcome{
        width: 100%;
    }
    .ct{
        width: 100%;
        height: 110%;
    }

    .ct h1{
        font-size: 30px;
    }
    .ct h2{
        font-size: 20px;
    }
    .ct p{
        font-size: 16px;
        width: 80%;
    }

    .tela{
        width: 100%;
    }
    .olimps{
        grid-template-columns: 320px;
        grid-template-rows: 440px 440px;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .card_Olimp{
        width: 320px;
    }
    .texto_olimp{
        width: 80%;
        margin-left: 10%;
        align-self: center;
    }
    .texto_olimp h1{
        font-size: 30px;
    }

    .olimpiada-capas > div{
        width: 100%;
    }
    .capa-obr, .capa-obi{
        width: 100%;
    }


    .videotela{
        width: 100%;
        overflow-x: hidden;
    }
    .videos{
        flex-direction: column;
    }
    .video_play iframe{
        width: 100%;
        height: fit-content;
    }
    .vid{
        transform: scale(0.92);
    }
    .description h1{
        font-size: 30px;
    }
    .description h2{
        font-size: 25px;
    }
    .botoesDQ{
        transform: scale(0.8);
    }


    .ConteinerSimulados{
        width: 100%;
        overflow-x: hidden;
    }
    .Simulados{
        width: 45%;
        flex-shrink: 0;
    }
    .caixa{
        width: 45%;
    }
    #prim{
        display: none;
    }
    .Simulado, .sl2{
        flex-shrink: 0;
        width: 90%;
    }


    .telachat{
        width: 100%;
    }

    .telaexpo{
        width: 100%;
        padding: 12px;
    }
    .trabalho{
        padding: 20px;
        width: 100%;
    }
    .imagem{
        width: 100%;
    }
    .sobre{
        width: 100%;
    }
    .ImagemMaisSobre{
        display: none;
    }
    
    .ConteinerQuiz{
        position: fixed;
    }
    .quiz{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .questao{
        flex-direction: column;
    }
    .Enunciado{
        width: 100%;
    }
    .questao img{
        height: 100%;
        width: 100%;
    }
}